<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Message ❤️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="message-page">

<div class="message-box">
    <h1>My Love 💖</h1>
    <p>
        From the day you entered my life,
        everything became beautiful.
        I promise to stand with you forever ❤️.
        <br>
        Bujji ela vundhi a gift,
        <br>
        Nuvvu naa life lo vundadame peddha gift ma Thank you ammulu.
        <br>
        Nuvvu enni godavalu vesina nenu sorry enduku cheptano telusu nuvvu ante naku anta eshtam so sorry enni sarlu anna chepta alage
        deggara sorry expect cheasta enduku ante niku love baga vundali ani koncham selfish ante.
        <br>
        Kani enni aaina nuvvu ante chala eshtam

        I Love you mardal.
    </p>
</div>

</body>
</html>

